    .Topt {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 20px;
        }

    html {
   
        }

    .Links{
        display:flex;
        color: white;
    }

    .Logo {
        font-size: 25px;
        color: #f9faf8;
        
    }

    ul {
        display: flex; 
        list-style-type: none;
        gap: 20px;
        padding-right: 20px;
        color: white;
      }

    .header {
        background: #1f2937;
        width: 100%;
    }

    .subText{
        font-size: 18px;
    }

    .HText {
        align-self: center;
        color: white;
        font-size: 48px;
        font-weight: bolder;
    }

    button {
        font-size: 25px;
        background: #3882f6;
        border-radius: 5px;
        color: white;
    }
    .HBot {
        display: flex;
        align-self: center;
        padding-bottom: 35px;
        margin: 50px;
        gap: 30px;
    }

    .pandaResidents{
        width: 200px;
        height: 187px;
        border: 7px solid  #1f2937;
        border-radius: 10px;
    }
    
    .infoText{ 
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: bolder;
    }

    .residentsText{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    
    .info{
        max-width: 200px;
    }

    .wInfo{
        margin: 75px;
    }

    .quote{
        display: flex;
        color: #1f2937;
        font-size: 36px;
        background-color: #e5e7eb;
        padding: 70px;
        flex-direction: column;
    }

    .qText{
        display: flex;
        max-width: 1000px;
        align-self: center;
    }

    .someone{
        display: flex;
        font-weight: bold;
        font-size: 18px;
        justify-content: flex-end;
        margin-left: 200px;
        max-width: 1200px;
    }

    .call{
        display:flex;
        color: white;
        gap: 200px;
        margin-top: 55px;
        margin-bottom: 55px;
        background-color: #3882f6;
        padding: 30px;
    }

    .toAction{
        display: flex;
        flex-direction: column;
    }

    .cT{
        font-size: 25px;
    }

    .signUp{
        display: flex;
        font-size: 25px;
        border-radius: 10px;
        border: white solid 3px;
        align-content: flex-end;
    }

    .too{
        display:flex;
        justify-content: center;
    }
